

<h2 mat-dialog-title>Login</h2>

<mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="password" type="password" formControlName="password">
        </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" class="button" >Login</button>
</mat-dialog-actions>





<!-- 
<div class="mnn">
    <h2 mat-dialog-title>Login</h2>
    
    <mat-dialog-content>
        <form  (ngSubmit)="login()" class="content">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput type="text" placeholder="username" formControlName="username">
                  </mat-form-field>
                </td>
              </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="password" type="password" formControlName="password">
          </mat-form-field>
        </td>
      </tr>
            </table>
          </form>
    </mat-dialog-content>
    
    <div style="height: 2px; background-color: rgb(19, 18, 18); text-align: center">
        <span id="user">
          Not a User ?  <a href="">Register</a> 
        </span>
      </div>
    
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="button">Login</button>
    </mat-dialog-actions>
    </div> -->