
p {
    font-family: Lato;
  }
  
  .example-card {
    max-width: 300px;
    margin: 4px;
  }
  
  /* .example-header-image {
    background-image: url(assets/swiggyimages/moriz.jpg);
    background-size: cover;
  } */

  #itemimg{
    background-size: cover;
    width: 18em;
    height: 15em;
  }
  a{
      width: 20em;
  }
  #resname{
      margin-top: 1em;
  }
  
  #ratingicon{
    margin-right: 5em;
    background-color: #48c479;
    color: #fff;
    font-size: 12px;
    height: 18px;
    position: relative;
    right: 5px;
    width: 4em;
    float: left;
  }
  #delvtime{
    margin-right: 1em;
    float: left;
    position: relative;
    left: -1em;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    font-size: 12px;
    color:rgba(0,0,0,.54);
  }
  mat-icon{
    font-size: 12px;
    left: 6px;
    top: 1px;
    position: relative;
  }
  #discount{
    font-size: 12px;
    position: relative;
    left: 1em;
    color:rgba(0,0,0,.54);
  }
  #rating{
    position: relative;
    bottom: 1px;
  }
  #coupon{
    color: #8a584b;
    font-size: 14px;
    margin-top: 23px;
  }
  #couponstar{
    font-size: 14px;
  }