

<mat-card class="mat-elevation-z20">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"  type="text" formControlName="userName" >
            <!-- <mat-error *ngIf="Username.invalid">Due Date is required for Tasks</mat-error> -->
          </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" required>
        </mat-form-field></td>
      </tr>
    </table>
    </form>
    
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" id="button" color="primary">Login</button>
  </mat-card-actions>
  <div style="height: 2px; background-color: rgb(19, 18, 18); text-align: center">
    <span id="user">
      Not a User ?
    </span>
  </div>
  <mat-card-actions>
    <button mat-raised-button  id="registerbutton" color="primary" [routerLink]="['register']">Register</button>
  </mat-card-actions>
</mat-card>