
.mat-sidenav{
    width: 18em;
    text-align:center;
}

/* .mat-button{
    margin-top: 1em;
    margin-right: 13em;
} */

.icon{
    background-color: blue;
    margin-left: -10em;
}
.icona{
    font-size: 36px;
    height: 1em;
    margin-top: 10px;
    margin-left: -41px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    opacity:.5;
    background-color:transparent;
    background-image: url('/home/user/Downloads/mypic.jpeg');
}

.row-6{
    background-color: brown;
}